@import "scss/colors.scss";
@import "scss/constants.scss";
@import "scss/fontSize.scss";

.stationContainer {
  font-size: $large;
  color: $primaryGrey;
  border-bottom: $primaryBorderWidth solid $white;

  .iconContainer {
    display: flex;
    padding-top: $primaryPadding;
    align-items: center;
  }

  .elipsisIcon {
    margin: auto;
    border-radius: $roundBorderRadius;
  }

  .plusIcon {
    cursor: pointer;
    height: 64px;
    width: 64px;
  }

  .minusIcon {
    cursor: pointer;
    height: 64px;
    width: 64px;
  }

  .stationDetails {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: $primaryPadding 0;
  }

  .stationName {
    overflow-wrap: anywhere;
  }

  .frequency {
    font-weight: 700;
    padding-left: $padding-8;
  }
}
