@import 'scss/colors.scss';
@import 'scss/constants.scss';

.widgetContainer {
  width: 640px;
  box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: $primaryBorderRadius;
}

.fmContainer {
  background-color: $secondaryBlack;
  overflow: auto;
  height: 500px;
  padding: $secondaryPadding $primaryPadding;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fmContainer::-webkit-scrollbar {
  display: none;
}