@import "scss/colors.scss";
@import "scss/constants.scss";
@import "scss/fontSize.scss";

.tabBarContainer {
  background-color: $primaryBlack;
  padding: $primaryPadding;
  border-radius: 0 0 $primaryBorderRadius $primaryBorderRadius;
  height: 80px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-top: $primaryBorderWidth solid $secondaryGray;
  text-align: center;

  .info {
    text-transform: uppercase;
    font-size: $normal;
    font-weight: 700;
    color: $secondaryYellow;
  }

  .title {
    color: $primaryGray;
    font-size: $large;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100%); //Need constrained pixel to get work text-overflow;
    text-align: center;
    display: inline-block;
  }
}
