@import "scss/colors.scss";
@import "scss/constants.scss";
@import "scss/fontSize.scss";

.tabBarContainer {
  background-color: $primaryBlack;
  padding: $primaryPadding;
  border-radius: 0 0 $primaryBorderRadius $primaryBorderRadius;
  align-items: center;
  height: 80px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-top: $primaryBorderWidth solid $secondaryGray;

  .info {
    text-transform: uppercase;
    font-size: $normal;
    font-weight: 700;
    color: $secondaryYellow;
  }

  .title {
    color: $primaryGray;
    font-size: $large;
  }
}
