.headerContainer {
  background-color: #ecaa5b;
  display: flex;
  align-items: center;
  height: 160px;
  padding: 0 40px;
  border-radius: 40px 40px 0 0;
}

.backArrowIcon {
  justify-self: flex-start;
  height: 48px;
  width: 28px;
}

.title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 44px;
  font-weight: 700;
  margin: auto;
}

.switchIcon {
  justify-self: flex-end;
  height: 52px;
  width: 44px;
}