@import "scss/colors.scss";
@import "scss/constants.scss";
@import "scss/fontSize.scss";

.navBarContainer {
  background-color: $primaryYellow;
  display: flex;
  align-items: center;
  height: 160px;
  padding: 0 $primaryPadding;
  border-radius: $primaryBorderRadius $primaryBorderRadius 0 0;

  .navBarIcon {
    cursor: pointer;
    background-position: center;
    transition: background 0.8s;
    border-radius: 4px;
    &:active {
      background-color: $darkYellow;
      background-size: 100%;
      transition: background 0s;
      box-shadow: 0 0 4px #5e4424;
    }
  }

  .backArrowIcon {
    @extend .navBarIcon;
    height: 48px;
    width: 28px;
    padding: 4px 12px;
    margin-left: -12px;
  }

  .switchIcon {
    @extend .navBarIcon;
    height: 52px;
    width: 44px;
    padding: 4px 8px;
    margin-right: -8px;
  }

  .title {
    text-transform: uppercase;
    color: $white;
    font-size: $large;
    font-weight: 700;
    margin: auto;
  }
}
