html,
body,
#root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family:
    'Helvetica Neue', 'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}