html,
body,
#root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family:
    'Helvetica Neue', 'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Animation to hide and show the FM details */
.itemDetails-enter {
  opacity: 0.05;
  transform: translateY(-100%);
}

.itemDetails-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 350ms;
}

.itemDetails-exit {
  opacity: 1;
  transform: translateY(0%);
}

.itemDetails-exit-active {
  opacity: 0.05;
  transform: translateY(-100%);
  transition: all 350ms;
}