$primaryYellow: #ecaa5b;
$secondaryYellow: #edae61;
$darkBlack: #20202B;
$primaryBlack: #25252f;
$secondaryBlack: #2b2b36;
$primaryGray: #a2abbd;
$primaryGrey: #a2abbd;
$secondaryGray: #515561;
$secondaryGrey: #515561;
$white: #ffffff;
$black: #000000;
